:root,
:host {
    color-scheme: light dark;
  --md-sys-color-background: #0f1418;
  --md-sys-color-on-background: #dee3e9;
  --md-sys-color-surface: #0f1418;
  --md-sys-color-surface-dim: #0f1418;
  --md-sys-color-surface-bright: #343a3f;
  --md-sys-color-surface-container-lowest: #090f13;
  --md-sys-color-surface-container-low: #171c21;
  --md-sys-color-surface-container: #1b2025;
  --md-sys-color-surface-container-high: #252b2f;
  --md-sys-color-surface-container-highest: #30353a;
  --md-sys-color-on-surface: #dee3e9;
  --md-sys-color-surface-variant: #3e4850;
  --md-sys-color-on-surface-variant: #bdc8d2;
  --md-sys-color-inverse-surface: #dee3e9;
  --md-sys-color-inverse-on-surface: #2c3136;
  --md-sys-color-outline: #87929c;
  --md-sys-color-outline-variant: #3e4850;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #87ceff;
  --md-sys-color-primary: #96d3ff;
  --md-sys-color-on-primary: #00344d;
  --md-sys-color-primary-container: #00aef5;
  --md-sys-color-on-primary-container: #001b2a;
  --md-sys-color-inverse-primary: #006590;
  --md-sys-color-secondary: #a2cceb;
  --md-sys-color-on-secondary: #00344d;
  --md-sys-color-secondary-container: #15445e;
  --md-sys-color-on-secondary-container: #b0dafa;
  --md-sys-color-tertiary: #edbdff;
  --md-sys-color-on-tertiary: #500372;
  --md-sys-color-tertiary-container: #d188f2;
  --md-sys-color-on-tertiary-container: #2f0045;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}
