:root,
:host {
  --md-sys-color-background: #faf8ff;
  --md-sys-color-on-background: #191b24;
  --md-sys-color-surface: #faf8ff;
  --md-sys-color-surface-dim: #d8d9e6;
  --md-sys-color-surface-bright: #faf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2f3ff;
  --md-sys-color-surface-container: #ecedfa;
  --md-sys-color-surface-container-high: #e6e7f4;
  --md-sys-color-surface-container-highest: #e1e2ee;
  --md-sys-color-on-surface: #191b24;
  --md-sys-color-surface-variant: #dee2f5;
  --md-sys-color-on-surface-variant: #424656;
  --md-sys-color-inverse-surface: #2e303a;
  --md-sys-color-inverse-on-surface: #eff0fd;
  --md-sys-color-outline: #727687;
  --md-sys-color-outline-variant: #c2c6d8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0054d6;
  --md-sys-color-primary: #0045b2;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #0066ff;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #b3c5ff;
  --md-sys-color-secondary: #425ca0;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #a9beff;
  --md-sys-color-on-secondary-container: #0c2d6f;
  --md-sys-color-tertiary: #8102a7;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ab3fcf;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-surface-variant-variant: var(--md-ref-palette-neutral-variant95);
}

/* :root {
 --md-sys-color-primary: var(--md-sys-color-primary-light);
 --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
 --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
 --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
 --md-sys-color-secondary: var(--md-sys-color-secondary-light);
 --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
 --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
 --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
 --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
 --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
 --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
 --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
 --md-sys-color-error: var(--md-sys-color-error-light);
 --md-sys-color-error-container: var(--md-sys-color-error-container-light);
 --md-sys-color-on-error: var(--md-sys-color-on-error-light);
 --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
 --md-sys-color-background: var(--md-sys-color-background-light);
 --md-sys-color-on-background: var(--md-sys-color-on-background-light);
 --md-sys-color-surface: var(--md-sys-color-surface-light);
 --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
 --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
 --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
 --md-sys-color-outline: var(--md-sys-color-outline-light);
 --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
 --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
 --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
 --md-sys-color-shadow: var(--md-sys-color-shadow-light);
 --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
 --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
 --md-sys-color-scrim: var(--md-sys-color-scrim-light);
 --md-sys-color-surface-variant-variant: var(--md-ref-palette-neutral-variant95);
} */