.calendar-header{
    display:grid;
    gap:4px;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-header > *{
    border-radius:24px;
    padding:8px 16px;
    background:var(--md-sys-color-surface-container-low);
    color:var(--md-sys-color-on-background);
    user-select:none;
    overflow:hidden;
    flex-grow:1;
}


.calendar-container{
    display:grid;
    overflow:hidden;

    flex-grow:1;
    gap:4px;
    width:100%;
    grid-template-columns: repeat(7, 1fr);
    color:var(--md-sys-color-on-background);
}

.calendar-day-cell{
    display:flex;
    flex-direction:column;
    background:var(--md-sys-color-surface-container);
    border-radius:24px;
    overflow: auto;
}
.calendar-empty-cell{
    background:var(--md-sys-color-surface-container-low);
}
.calendar-day-cell-today .calendar-day-number{
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
.calendar-day-cell-today .calendar-event-indicator{
    background: var(--md-sys-color-primary-container);
}
.calendar-day-number{
    font-size:18px;
    font-family: "DM Sans", sans-serif;

    width:32px;
    height:32px;
    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:24px;
    background:var(--md-sys-color-surface-container-low);
    color:var(--md-sys-color-on-background);

    user-select:none;

    /* background:var(--md-sys-color-secondary); */
    /* color:var(--md-sys-color-on-secondary); */
}
.calendar-day-header{
    display:flex;
    justify-content:space-between;
    padding:8px;
    padding-bottom:0px;
}
.calendar-events-container{
    display:flex;
    flex-direction:column;
    gap:4px;
    overflow: auto;
    padding:8px;
    padding-top:4px;
}

.calendar-event{
    display:flex;
    /* flex-direction:column; */
    width:100%;
    height:auto;
    padding:8px;
    gap:4px;
    box-sizing: border-box;
    border-radius:12px;
    position:relative;
    overflow: hidden;

    font-size:14px;

    background:var(--md-sys-color-surface-container-low);
    min-height: 33px;
}

.calendar-event-icon{
    display:flex;
    align-items: center;
}



.calendar-event-time{
    min-width: fit-content;
}
.calendar-event-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-day-cell:hover .calendar-expand-button{
    display:flex;
}
.calendar-expand-button{
    display:none;
    justify-content:center;
    align-items:center;

    border:none;
    width:32px;
    height:32px;
    border-radius: 24px;
    background:var(--md-sys-color-surface-container-low);
    color:var(--md-sys-color-on-background);
    cursor:pointer;

    animation: calendar-expan-button-animation-in 300ms cubic-bezier(0.38,0.49,0,1.1);
}

@keyframes calendar-expan-button-animation-in{
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}

.calendar-expanded-event-container .calendar-event{
    padding:16px;
    border-radius:16px;
}


@media only screen and (max-width: 1280px){
    .calendar-event:hover .calendar-event-time{
        min-width: initial;
        white-space: nowrap;
    }
    .calendar-event:hover .calendar-event-name{
        overflow: initial;
        text-overflow: initial;
    }
}
.calendar-event.updated-item:not(.search-result-item-in){
    overflow: hidden;
    animation: updated-item-hightlight 500ms cubic-bezier(0.38,0.49,0,1.1);
}
.calendar-event.updated-item::before{
    content: "";
    position:absolute;
    height: 100%;
    width:8px;

    background:white;
    /* background:var(--md-sys-color-on-background); */
    

    transform: rotate(45deg) scale(2);
    filter: blur(8px);

    animation: updated-item-animation 700ms ;

}

@keyframes updated-item-animation{
    0%{
        opacity: 0;
        left:calc(0% - 64px);
    }
    100%{
        opacity: 1;
        left:calc(100% + 32px);
    }
    
}

@keyframes updated-item-hightlight {
    0%, 100% { transform: translate(0, 0); }
    15% { transform: translate(-2px, 1px); }
    30% { transform: translate(1px, -1px); }
    45% { transform: translate(-1px, 1px); }
    60% { transform: translate(1px, -0.5px); }
    75% { transform: translate(-1px, 0.5px); }
    90% { transform: translate(0.5px, -0.5px); }
}

.calendar-event-indicator{
    display:none;
    position:absolute;
    width:12px;
    height:12px;
    background:var(--md-sys-color-primary);
    border-radius:24px;

    top: calc(50% + 24px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.calendar-day-cell-today .calendar-event-indicator{
    background:var(--md-sys-color-on-primary)
}


/* .updated-item::before{
    height: 100%;
    width:32px;
    position:absolute;
    background:white;
} */

.calendar-day-mobile-clickable{display:none;}
@media only screen and (max-width: 680px){
    .calendar-event-indicator{display:flex}
    .calendar-events-container{display: none;}
    .calendar-day-header{
        padding:0;
        flex-grow:1;
    }
    .calendar-day-cell{position:relative;}
    .calendar-day-cell .calendar-expand-button{
        display:flex;
        position:absolute;
        width: 100%;
        height:100%;
        background:transparent;
    }
    .calendar-day-cell .calendar-expand-button md-icon{display:none;}
    .calendar-day-number{
        position:relative;
        width:100%;
        height:100%;
    }
    
    .calendar-header > *{
        text-align:center;
    }
}


@media only screen and (min-width: 680px){
    .calendar-container.view-style-list{
        display:flex;
        flex-direction:column;
        overflow: auto;
        gap:4px;
        border-radius:24px;
    }
    .calendar-container.view-style-list .calendar-day-cell{
        position:relative;
        min-height:fit-content;
        flex-direction: row;
        transition:box-shadow .3s cubic-bezier(0,0,0.5,1);
        /* background:var(--md-sys-color-surface-container-low); */
    }
    .calendar-container.view-style-list .calendar-day-cell:hover{
        box-shadow: 0px 0px 0px 1px var(--md-sys-color-outline-variant) inset
    }
    .calendar-container.view-style-list .calendar-day-header{
        flex-direction:column;
        padding:8px;
    }
    .calendar-container.view-style-list .calendar-expand-button{
        position:absolute;
    }
    .calendar-container.view-style-list .calendar-events-container{
        padding:8px;
    }
    .calendar-container.view-style-list .calendar-empty-cell{
        display:none;
    }

    .calendar-header.view-style-list{display:none;}
}