.md-tab{
  display:none
}
.md-tab[active]{
  display:flex;
}

[data-md-panel]{display:none;}
[data-md-panel][active]{display:flex;} 

md-dialog#dialog-lector form{display:none;}
md-dialog#dialog-lector form[active]{display:flex;}
#qr-code-reader-container video{border-radius:16px}
/* md-dialog#dialog-lector.dialog-active {
}

md-dialog#dialog-lector {
  transition: opacity 0.3s ease-in-out !important;
} */

@keyframes buttonClickAnimation {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.95) scaleY(0.9);
  }
  100% {
    transform: scaleX(1);
  }

}

md-filled-button:focus {
  animation: buttonClickAnimation 500ms cubic-bezier(.37,1.42,.37,1);
}
md-fab:focus {
  animation: buttonClickAnimation 500ms cubic-bezier(.37,1.42,.37,1);
}

@keyframes progress-indicator-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

md-linear-progress{
  animation : progress-indicator-in  1000ms cubic-bezier(.75,0,.41,-0.06);
}
md-circular-progress{
  animation : progress-indicator-in  1000ms cubic-bezier(.75,0,.41,-0.06);
}

md-outlined-text-field{
  --md-outlined-text-field-container-shape: 8px;
}
md-outlined-select{
  --md-outlined-select-text-field-container-shape: 16px;
}


md-filled-text-field{
  --md-filled-text-field-container-shape: 16px;
  --md-filled-text-field-active-indicator-height:0px;
  --md-filled-text-field-focus-active-indicator-height:0px;
  --md-filled-text-field-hover-active-indicator-height:0px;
  --md-filled-text-field-disabled-active-indicator-height:0px;
  --md-filled-text-field-container-color: var(--md-sys-color-surface-container-high);
}

md-filled-select{
  --md-filled-select-text-field-container-shape: 16px;
  --md-filled-select-text-field-active-indicator-height:0px;
  --md-filled-select-text-field-focus-active-indicator-height:0px;
  --md-filled-select-text-field-hover-active-indicator-height:0px;
  --md-filled-select-text-field-container-color: var(--md-sys-color-surface-container-high);

}
md-filled-select::part(menu){
  --md-menu-container-shape: 16px;
}


md-filled-tonal-button.delete{
  --md-sys-color-secondary-container: var(--md-sys-color-error);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-error);
}
md-filled-tonal-button.delete-light{
  --md-sys-color-secondary-container: var(--md-sys-color-error-container);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-error-container);
}
md-filled-tonal-button.delete-text{
  --md-sys-color-secondary-container: var(--md-sys-color-surface-container);
  --md-sys-color-on-secondary-container: var(--md-sys-color-error);
}

md-filled-tonal-icon-button.solid-ligh, md-filled-tonal-button.solid-light{
  --md-sys-color-secondary-container: var(--md-sys-color-surface-container-low);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-surface-variant);
}
md-filled-tonal-icon-button.solid, md-filled-tonal-button.solid{
  --md-sys-color-secondary-container: var(--md-sys-color-surface-container);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-surface-variant);
}
md-filled-tonal-icon-button.solid-high, md-filled-tonal-button.solid-high{
  --md-sys-color-secondary-container: var(--md-sys-color-surface-container-high);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-surface-variant);
}

md-menu.style-modern{
  --md-menu-container-shape: 16px;
  position:relative !important;
}
md-menu.style-modern md-menu-item {
  position:relative;
  margin:0 8px;
  border-radius: 8px !important;
}