
@keyframes vt-fade-in {
from { opacity: 0; }
}

@keyframes vt-fade-out {
to { opacity: 0; }
}

@keyframes slide-to-right {
from { transform: translateX(-8px); }
}

@keyframes slide-to-left {
to { transform: translateX(16px); }
}

@keyframes vt-blur {
    0%{
      filter: blur(0px);
    }
    50%{
      filter:blur(4px);
    }
    100%{
      filter: blur(0px);
    }
  }


:root{view-transition-name:none;}
::view-transition{pointer-events:none;}



::view-transition-group(.vt-shared-element-animation){
    animation-duration:500ms;
    animation-timing-function: cubic-bezier(0.38,0.49,0,1);
    /* scale: 1.00001; */
    /* animation-timing-function: cubic-bezier(.4,0,0,1); */
    /* animation-timing-function: cubic-bezier(.26,1,0,1); */

}
::view-transition-old(.vt-shared-element-animation),
::view-transition-new(.vt-shared-element-animation) {
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}

::view-transition-old(.vt-shared-element-animation){
    animation: vt-fade-out 200ms both cubic-bezier(0.38,0.49,0,1);
}
::view-transition-new(.vt-shared-element-animation) {
    animation: vt-fade-in 200ms both cubic-bezier(0.38,0.49,0,1);
    /* animation: vt-fade-in 500ms both cubic-bezier(.75,0,.41,-0.06); */
}

/* both */
::view-transition-group(.vt-shared-element-animation-childes){
    animation-duration:500ms;
    animation-timing-function: cubic-bezier(0.38,0.49,0,1);
    /* animation-timing-function: cubic-bezier(.4,0,0,1); */
    /* animation-timing-function: cubic-bezier(.26,1,0,1); */
}
::view-transition-old(.vt-shared-element-animation-childes),
::view-transition-new(.vt-shared-element-animation-childes) {
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}

::view-transition-old(.vt-shared-element-animation-childes){
    object-fit: scale-down;
    animation: vt-fade-out 200ms both cubic-bezier(0.38,0.49,0,1);
}
::view-transition-new(.vt-shared-element-animation-childes) {
    object-fit: cover;
    animation: vt-fade-in 200ms both cubic-bezier(0.38,0.49,0,1);
}



/* Open */
::view-transition-group(.vt-shared-element-animation-childes-open){
    animation-duration:500ms;
    animation-timing-function: cubic-bezier(0.38,0.49,0,1);
}
::view-transition-old(.vt-shared-element-animation-childes-open),
::view-transition-new(.vt-shared-element-animation-childes-open) {
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}
::view-transition-old(.vt-shared-element-animation-childes-open){
    object-fit: cover;
    animation: vt-fade-out 200ms both cubic-bezier(0.38,0.49,0,1);
}
::view-transition-new(.vt-shared-element-animation-childes-open) {
    object-fit: scale-down;
    animation: vt-fade-in 200ms both cubic-bezier(0.38,0.49,0,1);
}

/* close */
::view-transition-group(.vt-shared-element-animation-childes-close){
    animation-duration:500ms;
    animation-timing-function: cubic-bezier(0.38,0.49,0,1);
}
::view-transition-old(.vt-shared-element-animation-childes-close),
::view-transition-new(.vt-shared-element-animation-childes-close) {
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}
::view-transition-old(.vt-shared-element-animation-childes-close){
    object-fit: scale-down;
    animation: vt-fade-out 200ms both cubic-bezier(0.38,0.49,0,1);
}
::view-transition-new(.vt-shared-element-animation-childes-close) {
    object-fit: cover;
    animation: vt-fade-in 200ms both cubic-bezier(0.38,0.49,0,1);
}


/* close not childes */
/* ::view-transition-group(.vt-shared-element-animation-close){
    animation-duration:500ms;
    animation-timing-function: cubic-bezier(0.38,0.49,0,1);
}
::view-transition-old(.vt-shared-element-animation-close),
::view-transition-new(.vt-shared-element-animation-close) {
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}
::view-transition-old(.vt-shared-element-animation-close){
    object-fit: cover;
    animation: vt-fade-out 200ms both cubic-bezier(0.38,0.49,0,1);
}
::view-transition-new(.vt-shared-element-animation-close) {
    object-fit: scale-down;
    animation: vt-fade-in 200ms both cubic-bezier(0.38,0.49,0,1);
} */


/* ::view-transition-group(.vt-general-elements){
    animation-duration:500ms;
    animation-timing-function: cubic-bezier(.75,0,.41,-0.06);
} */
::view-transition-new(.vt-general-elements) {
    animation: vt-fade-in 300ms both cubic-bezier(.75,0,.41,-0.06);
}